body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #404EED;
}

/* Kate - Navigation bar */



/* Ehsan - Main part */

/* Kevin- Main part */
.start{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}
.header{
    z-index: 2;
}
.text{
    z-index: 2;
}
.clouds{
    z-index: 1;
    max-width: 100%;
    position: absolute;
}
.left{
    display: flex;
    z-index: 2;
    max-width: 100%;
    position: relative;
}
.right{
    max-width: 100%;
}


/* # Jennifer - Footer */
