body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0;
    padding: 0;

    
}

/* Kate - Navigation bar */



/* Ehsan - Main part */
.t_buttons {
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30%;
    margin-left: 30%;
}

.t_buttons_left {
    background-color: rgb(34, 16, 16);
    justify-content: center !important;

    align-self: center !important;
    gap: 100px;
    border-radius: 25px;
    
}

.t_buttons_right {
    background-color: rgb(34, 16, 16);
    border-radius: 25px;
    justify-content: center;
    
}

.d_buttons{
    display: flex;
    align-self: center;
    background-color: blue !important;
    border-radius: 25px;
   
}

/* Kevin- Main part */
/* .start{
background-color: #404EED;
}
.1{

}
.2{

}
.3{

}
.4{

} */
/* # Jennifer - Footer */
